# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Local caches & ephemeral
.coverage/
.tenv/
.env
.data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
